---
import { useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = "pt-br";
const t = useTranslations(lang);
---

<Layout lang={lang}>
  <h1>{t("nav.about")}</h1>
</Layout>
